{% extends 'base.html' %}

{% block title %} Your Profile {% endblock %}

{% block content %}
    <div class="bg-gray-800 text-white rounded-lg p-4 m-4">
        <div class="flex justify-between items-center mb-4">
            <div class="bg-black p-2 rounded-lg">
                <a href="{% url 'edit_profile' %}" class="no-underline hover:underline decoration-green-400">Edit Profile</a>
            </div>
            <div>
                <h1 class="text-2xl text-green-400 font-bold">{{ user.username }}</h1>
                <h1 class="text-sm text-white">{{ user.email }}</h1>
            </div>
            <div>
                <a href="{% url 'user_questions' %}" class="no-underline hover:underline decoration-green-400"><span class="bg-black p-2 rounded-lg ">Asked: {{ question_count }}</span></a>
                <a href="{% url 'user_answers' %}" class="no-underline hover:underline decoration-green-400"><span class="bg-black p-2 rounded-lg ">Answered: {{ answer_count }}</span></a>
            </div>
        </div>

    </div>
{% endblock %}
