{% extends 'base.html' %}

{% block content %}
    {% if questions %}
        {% for question in questions %}
           <div class="bg-gray-900 p-4 rounded-lg mb-2 shadow-md">
                <div class="flex justify-between items-center text-gray-400 text-sm">
                    <p>Asked on: {{ question.asked_at }}</p>
                    <a href="{% url 'show_answer' question.id %}"><h2 class="text-xl hover:text-green-400 font-semibold text-white mb-1">{{ question.question }}</h2></a>
                <form action="{% url 'user_questions' %}" method="post" class="mt-2" onsubmit="return confirm('Are you sure you want to delete this question?');">
                    {% csrf_token %}
                    <input type="hidden" name="question_id" value="{{ question.id }}">
                    <button type="submit" class="bg-rose-600 hover:bg-rose-400 text-white font-bold px-2 py-1 border-b-4 border-rose-700 hover:border-rose-500 rounded-md">
                        Delete
                    </button>
                </form>
                </div>

            </div>
        {%  endfor %}
    {% else %}
        <div class="bg-gray-900 p-4 rounded-lg shadow-lg font-semibold text-xl">No questions asked so far...</div>
    {% endif %}
{% endblock %}